{%extends 'base.html'%}

{%block title%} Ingredient create {%endblock%}

{%block content%}

<form method="post">
    {%csrf_token%}
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        {{form.title}}
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail12" class="form-label">Quantity</label>
        {{form.quantity}}
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail13" class="form-label">Unit</label>
        {{form.unit}}
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

{%endblock%}