{%extends 'base.html'%}

{%block title%} Recipe create {%endblock%}

{%block content%}
<form method="post">
  {%csrf_token%}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      {{form.title}}
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput12" class="form-label">Is active</label>
      {{form.is_active}}
    </div>
    <div class="mb-3 form-check">
      <label class="form-check-label" for="exampleCheck1">Tags</label>
      {{form.tags}}
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{%endblock%}